<div class="presets">
    <img
            id="preset-model"
            class="presets__image animatable--active"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ '/assets/images/model.jpeg?nf_resize=fit&w=300' }} 300w,
                        {{ '/assets/images/model.jpeg?nf_resize=fit&w=600' }} 600w,
                        {{ '/assets/images/model.jpeg?nf_resize=fit&w=1200' }} 1200w,
                        {{ '/assets/images/model.jpeg' }} 1600w,
                        {{ '/assets/images/model.jpeg?nf_resize=fit&w=2000' }} 2000w
                    "
            sizes="100vw"
    >
    <img
            id="preset-earth"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ '/assets/images/earth.jpeg?nf_resize=fit&w=300' }} 300w,
                        {{ '/assets/images/earth.jpeg?nf_resize=fit&w=600' }} 600w,
                        {{ '/assets/images/earth.jpeg?nf_resize=fit&w=1200' }} 1200w,
                        {{ '/assets/images/earth.jpeg' }} 1600w,
                        {{ '/assets/images/earth.jpeg?nf_resize=fit&w=2000' }} 2000w
                    "
            sizes="100vw"
    >
    <img
            id="preset-mars"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ '/assets/images/mars.jpeg?nf_resize=fit&w=300' }} 300w,
                        {{ '/assets/images/mars.jpeg?nf_resize=fit&w=600' }} 600w,
                        {{ '/assets/images/mars.jpeg?nf_resize=fit&w=1200' }} 1200w,
                        {{ '/assets/images/mars.jpeg' }} 1600w,
                        {{ '/assets/images/mars.jpeg?nf_resize=fit&w=2000' }} 2000w
                    "
            sizes="100vw"
    >
    <img
            id="preset-nishita"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ '/assets/images/nishita.jpeg?nf_resize=fit&w=300' }} 300w,
                        {{ '/assets/images/nishita.jpeg?nf_resize=fit&w=600' }} 600w,
                        {{ '/assets/images/nishita.jpeg?nf_resize=fit&w=1200' }} 1200w,
                        {{ '/assets/images/nishita.jpeg' }} 1600w,
                        {{ '/assets/images/nishita.jpeg?nf_resize=fit&w=2000' }} 2000w
                    "
            sizes="100vw"
    >
    <img
            id="preset-retrowave"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ '/assets/images/retrowave.jpeg?nf_resize=fit&w=300' }} 300w,
                        {{ '/assets/images/retrowave.jpeg?nf_resize=fit&w=600' }} 600w,
                        {{ '/assets/images/retrowave.jpeg?nf_resize=fit&w=1200' }} 1200w,
                        {{ '/assets/images/retrowave.jpeg' }} 1600w,
                        {{ '/assets/images/retrowave.jpeg?nf_resize=fit&w=2000' }} 2000w
                    "
            sizes="100vw"
    >
</div>