<div class="presets">
    <img
            id="preset-model"
            class="presets__image animatable animatable--active"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/model-1600.jpg' }}"
            srcset="
                        {{ 'assets/images/presets/model-300.jpg' }} 300w,
                        {{ 'assets/images/presets/model-600.jpg' }} 600w,
                        {{ 'assets/images/presets/model-1200.jpg' }} 1200w,
                        {{ 'assets/images/presets/model-1600.jpg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-earth"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/earth-1600.jpg' }}"
            srcset="
                        {{ 'assets/images/presets/earth-300.jpg' }} 300w,
                        {{ 'assets/images/presets/earth-600.jpg' }} 600w,
                        {{ 'assets/images/presets/earth-1200.jpg' }} 1200w,
                        {{ 'assets/images/presets/earth-1600.jpg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-mars"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/mars-1600.jpg' }}"
            srcset="
                        {{ 'assets/images/presets/mars-300.jpg' }} 300w,
                        {{ 'assets/images/presets/mars-600.jpg' }} 600w,
                        {{ 'assets/images/presets/mars-1200.jpg' }} 1200w,
                        {{ 'assets/images/presets/mars-1600.jpg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-nishita"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/nishita-1600.jpg' }}"
            srcset="
                        {{ 'assets/images/presets/nishita-300.jpg' }} 300w,
                        {{ 'assets/images/presets/nishita-600.jpg' }} 600w,
                        {{ 'assets/images/presets/nishita-1200.jpg' }} 1200w,
                        {{ 'assets/images/presets/nishita-1600.jpg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-retrowave"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/retrowave-1600.jpg' }}"
            srcset="
                        {{ 'assets/images/presets/retrowave-300.jpg' }} 300w,
                        {{ 'assets/images/presets/retrowave-600.jpg' }} 600w,
                        {{ 'assets/images/presets/retrowave-1200.jpg' }} 1200w,
                        {{ 'assets/images/presets/retrowave-1600.jpg' }} 1600w
                    "
            sizes="100vw"
    >
</div>