<div class="presets">
    <img
            id="preset-model"
            class="presets__image presets__image--active"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ 'assets/images/model.jpeg?nf_resize=fit&w=300' | url }} 300w,
                        {{ 'assets/images/model.jpeg?nf_resize=fit&w=600' | url }} 600w,
                        {{ 'assets/images/model.jpeg?nf_resize=fit&w=1200' | url }} 1200w,
                        {{ 'assets/images/model.jpeg' | url }} 1600w,
                        {{ 'assets/images/model.jpeg?nf_resize=fit&w=2000' | url }} 2000w
                    "
            sizes="100vw"
    >
    <img
            id="preset-earth"
            class="presets__image presets__image--earth"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ 'assets/images/earth.jpeg?nf_resize=fit&w=300' | url }} 300w,
                        {{ 'assets/images/earth.jpeg?nf_resize=fit&w=600' | url }} 600w,
                        {{ 'assets/images/earth.jpeg?nf_resize=fit&w=1200' | url }} 1200w,
                        {{ 'assets/images/earth.jpeg' | url }} 1600w,
                        {{ 'assets/images/earth.jpeg?nf_resize=fit&w=2000' | url }} 2000w
                    "
            sizes="100vw"
    >
    <img
            id="preset-mars"
            class="presets__image"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ 'assets/images/mars.jpeg?nf_resize=fit&w=300' | url }} 300w,
                        {{ 'assets/images/mars.jpeg?nf_resize=fit&w=600' | url }} 600w,
                        {{ 'assets/images/mars.jpeg?nf_resize=fit&w=1200' | url }} 1200w,
                        {{ 'assets/images/mars.jpeg' | url }} 1600w,
                        {{ 'assets/images/mars.jpeg?nf_resize=fit&w=2000' | url }} 2000w
                    "
            sizes="100vw"
    >
    <img
            id="preset-nishita"
            class="presets__image"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ 'assets/images/nishita.jpeg?nf_resize=fit&w=300' | url }} 300w,
                        {{ 'assets/images/nishita.jpeg?nf_resize=fit&w=600' | url }} 600w,
                        {{ 'assets/images/nishita.jpeg?nf_resize=fit&w=1200' | url }} 1200w,
                        {{ 'assets/images/nishita.jpeg' | url }} 1600w,
                        {{ 'assets/images/nishita.jpeg?nf_resize=fit&w=2000' | url }} 2000w
                    "
            sizes="100vw"
    >
    <img
            id="preset-retrowave"
            class="presets__image"
            alt="An astronaut on Earth looking over desert in sun direction"
            srcset="
                        {{ 'assets/images/retrowave.jpeg?nf_resize=fit&w=300' | url }} 300w,
                        {{ 'assets/images/retrowave.jpeg?nf_resize=fit&w=600' | url }} 600w,
                        {{ 'assets/images/retrowave.jpeg?nf_resize=fit&w=1200' | url }} 1200w,
                        {{ 'assets/images/retrowave.jpeg' | url }} 1600w,
                        {{ 'assets/images/retrowave.jpeg?nf_resize=fit&w=2000' | url }} 2000w
                    "
            sizes="100vw"
    >
</div>