{% set presets = [
    {
        'active': true,
        'id': 'preset-model',
        'image': {
            'src':'assets/images/presets/model',
            'alt':'An astronaut on Earth looking over desert in sun direction'
        }
    },
    {
        'active': false,
        'id': 'preset-earth',
        'image': {
            'src':'assets/images/presets/earth',
            'alt':'An astronaut on Earth looking over desert in sun direction'
        }
    },
    {
        'active': false,
        'id': 'preset-night',
        'image': {
            'src':'assets/images/presets/night',
            'alt':'An astronaut on Earth looking over desert in sun direction'
        }
    },
    {
        'active': false,
        'id': 'preset-nishita',
        'image': {
            'src':'assets/images/presets/nishita',
            'alt':'An astronaut on Earth looking over desert in sun direction'
        }
    },
    {
        'active': false,
        'id': 'preset-mars',
        'image': {
            'src':'assets/images/presets/mars',
            'alt':'An astronaut on Earth looking over desert in sun direction'
        }
    },
    {
        'active': false,
        'id': 'preset-retro',
        'image': {
            'src':'assets/images/presets/retro',
            'alt':'An astronaut on Earth looking over desert in sun direction'
        }
    },
] %}


<div class="presets">
        {% for preset in presets %}
        <img
                id="{{preset.id}}"
                class="presets__image animatable {{ preset.active ? 'animatable--active' : '' }}"
                alt="{{preset.image.alt}}"
                src="{{preset.image.src}}-1600.jpeg"
                srcset="
                        {{preset.image.src}}-300.jpeg  300w,
                        {{preset.image.src}}-600.jpeg  600w,
                        {{preset.image.src}}-1200.jpeg  1200w,
                        {{preset.image.src}}-1600.jpeg  1600w
                        "
                sizes="100vw"
        >
        {% endfor %}
</div>