<div class="presets">
    <img
            id="preset-model"
            class="presets__image animatable animatable--active"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/model-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/model-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/model-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/model-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/model-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-earth"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/earth-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/earth-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/earth-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/earth-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/earth-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-earth1"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/earth1-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/earth1-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/earth1-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/earth1-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/earth1-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-nishita"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/nishita-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/nishita-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/nishita-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/nishita-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/nishita-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-nishita1"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/nishita1-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/nishita1-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/nishita1-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/nishita1-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/nishita1-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-retrowave"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/retrowave-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/retrowave-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/retrowave-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/retrowave-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/retrowave-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    
    <img
            id="preset-night"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/night-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/night-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/night-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/night-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/night-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-night1"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/night1-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/night1-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/night1-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/night1-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/night1-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-night2"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/night2-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/night2-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/night2-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/night2-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/night2-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
</div>