<div class="presets">
    <img
            id="preset-model"
            class="presets__image animatable animatable--active"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/antenna1-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/antenna1-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/antenna1-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/antenna1-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/antenna1-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-earth"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/antenna2-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/antenna2-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/antenna2-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/antenna2-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/antenna2-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-mars"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/antenna3-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/antenna3-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/antenna3-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/antenna3-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/antenna3-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-nishita"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/antenna4-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/antenna4-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/antenna4-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/antenna4-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/antenna4-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
    <img
            id="preset-retrowave"
            class="presets__image animatable"
            alt="An astronaut on Earth looking over desert in sun direction"
            src="{{ 'assets/images/presets/antenna3-1600.jpeg' }}"
            srcset="
                        {{ 'assets/images/presets/antenna3-300.jpeg' }} 300w,
                        {{ 'assets/images/presets/antenna3-600.jpeg' }} 600w,
                        {{ 'assets/images/presets/antenna3-1200.jpeg' }} 1200w,
                        {{ 'assets/images/presets/antenna3-1600.jpeg' }} 1600w
                    "
            sizes="100vw"
    >
</div>