{% set documentation = [
    {
        'name': 'Sun',
        'icon': 'icons/blender-icons/light_sun.svg',
        'parameters': [
            {
                'name': 'Rotation',
                'excerpt': 'Horizontal and vertical movement of the sun.',
                'description': 'Allow to position sun in specific position creating feeling that it is a morning, midday or an evening.',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Sun disk',
                'excerpt': 'Choose to see a physical sun disk in the sky',
                'description': 'Disk can be removed in a specific edge cases when sun disk in renders appears too bright.',
                'image': {
                    'src':'',
                    'alt':''
                }
            },
            {
                'name': 'Sun lamp',
                'excerpt': 'Choose to use a sun lamp or sun disk in the world for illumination.',
                'description': 'Enabling this will ensure that there are sun shadows present in Eevee, as well as potentially help Cycles render quicker by requiring slightly fewer samples. Disabling this will mostly benefit Cycles renders, where the result will be more accurate with better matching reflections.',
                'image': {
                    'src':'',
                    'alt':''
                }
            },
            {
                'name': 'Angular diameter',
                'excerpt': 'The size of the sun disk.',
                'description': 'Affects shadow and lighting softness and the visual appearance of the sun disk. ',
                'image': {
                    'src':'../img/ang_diameter_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Temperature K',
                'excerpt': 'Physical temperature (in Kelvins) of the sun changes the color of the sun disk.',
                'description': 'The bigger the value, the bluer the sun.',
                'image': {
                    'src':'../img/temperature_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Intensity',
                'excerpt': 'Intensity of the binary sun emission.',
                'description': 'Higher intensity makes the sun brighter, thus illuminating the scene more.',
                'image': {
                    'src':'../img/intensity_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Binary sun',
                'excerpt': 'Enables a second sun that is bound to the main sun.',
                'description': '',
                'image': {
                    'src':'',
                    'alt':''
                }
            },
        ]
    },

    {
        'name': 'Binary Sun',
        'icon': 'icons/blender-icons/light_sun.svg',
        'parameters': [
            {
                'name': 'Distance',
                'excerpt': 'Distance from the main sun.',
                'description': '',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Phase',
                'excerpt': 'The angle at which the binary sun is placed relative to the main sun.',
                'description': '',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Angular diameter',
                'excerpt': 'The size of the binary sun disc.',
                'description': '',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Temperature K',
                'excerpt': 'Physical temperature (in Kelvins) of the binary sun changes the color of the binary sun disk.',
                'description': 'The bigger the value, the bluer the sun.',
                'image': {
                    'src':'../img/temperature_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Intensity',
                'excerpt': 'Intensity of the binary sun emission.',
                'description': 'Changes the binary sun radiance intensity in Watt·sr/m2.',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
        ]
    },

    {
        'name': 'Atmosphere',
        'icon': 'icons/blender-icons/world_data.svg',
        'parameters': [
            {
                'name': 'Density',
                'excerpt': 'Control how much atmosphere is present on the planet.',
                'description': 'For example, 0 is the vacuum of the space, but 1.22 kg/m3 is the atmosphere density for the Earth.',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Scale Height',
                'excerpt': 'Determines how high the atmosphere goes in the scene, affecting density distribution.',
                'description': 'Mostly affects vertical transitions in the atmosphere, where lower scale heights will make effects of changing altitude appear quicker.',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Intensity',
                'excerpt': 'Artistical control that affects how bright the atmosphere appears.',
                'description': 'Atmosphere intensity multiplier.',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Night Intensity',
                'excerpt': 'Artistical control that affects how bright the atmosphere appears at night.',
                'description': 'Atmosphere intensity multiplier.',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Color',
                'excerpt': 'Artistical control that gives a tint to the atmosphere particle.',
                'description': '',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Inscattering',
                'excerpt': 'Control how much light is scattered through the particle for each wavelength (RGB).',
                'description': 'Atmosphere scattering coefficients.',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
            {
                'name': 'Anisotropy',
                'excerpt': 'How concentrated is the light scattering around the sun.',
                'description': '',
                'image': {
                    'src':'../img/horizontal_256x128.mp4',
                    'alt':''
                }
            },
           
        ]
    }
   
	
]%}

Take a deep breath and have a look at the user interface. At a glance, it may look a bit complex. It is due to many tweakable parameters and fancy names like *Kelvins*, *radiance*, and *absorption* that we use to standardize variable names.


* [Sun]()
* [Atmosphere]()
* [Stars]()
* [Clouds]()
* [Object fog]()
* [Ground]()

{% for section in documentation %}
## <span class="twemoji">{% include section.icon %}</span> {{ section.name }}
{% for parameter in section.parameters %}
### {{ parameter.name }}
<div class="parameter">
    <div class="parameter__info">
        <div>{{ parameter.excerpt }}</div>{% if parameter.description != '' %}<div style="color: rgba(0,0,0,.5)">{{ parameter.description }}</div>{% endif %}
    </div>
    <div class="parameter__video">
        <video autoplay loop >
            <source src="{{parameter.image.src}}" type="video/mp4">
        </video>
    </div>
</div>

{% endfor %}
{% endfor %}

{# 959 #}
{# 1219+ 328 #}
{# 1599+ 362 #}
{# 1999+ 396 #}

{# ## Binary Sun
{% for parameter in binary_sun_parameters %}
### {{ parameter.name }}
<div class="parameter">
    <div class="parameter__info">
        <div>{{ parameter.excerpt }}</div>{% if parameter.description != '' %}<div style="color: rgba(0,0,0,.5)">{{ parameter.description }}</div>{% endif %}
    </div>
    <div class="parameter__video">
        <video autoplay loop >
            <source src="{{parameter.image.src}}" type="video/mp4">
        </video>
    </div>
</div>

{% endfor %} #}