<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/home.css">
	<link rel="stylesheet" href="/assets/css/vendor/jquery.fancybox.min.css">
	{#    {% for path in config["extra_css"] %}#}
	{#    <link rel="stylesheet" href="{{ path | url }}">#}
	{#    {% endfor %}#}
</head>
<body class="psa">
	{% include "partials/landing/landing.twig" %}
	{% include "partials/nav-secondary/nav-secondary.twig" %}
	<div class="gap"></div>
	<div class="workflow">
		{% include "partials/videoplayer/videoplayer.twig" %}
	</div>
	<div class="big-gap"></div>
	{% include "partials/benefits/benefits.twig" %}
	<div class="big-gap"></div>
	{% include "partials/testimonials/testimonials.twig" %}
	<div class="big-gap"></div>
	{% include "partials/our-story/our-story.twig" %}
	<div class="big-gap"></div>
	{% include "partials/gallery/gallery.twig" %}
	<div class="big-gap"></div>
	{% include "partials/pricing/pricing.twig" %}
	<div class="big-gap"></div>
	{% include "partials/footer/footer.twig" %}

	<script src="{{ '/assets/javascript/timeline.js' }}"></script>
	<script src="{{ '/assets/javascript/tablinks.js' }}"></script>
	<script src="{{ '/assets/javascript/videoplayer.js' }}"></script>
	<script src="{{ '/assets/javascript/benefits.js' }}"></script>
	<script src="{{ '/assets/javascript/testimonials.js' }}"></script>
	<script src="{{ '/assets/javascript/gallery.js' }}"></script>
	<script src="{{ '/assets/javascript/navigation.js' }}"></script>
	<!-- Fancybox smooth animations and simplicity is worth importing jquery. Change my mind -->
	<script src="{{ '/assets/javascript/vendor/jquery.min.js' }}"></script>
	<script src="{{ '/assets/javascript/vendor/jquery.fancybox.min.js' }}"></script>
	<script>
	$.fancybox.defaults.buttons = [
      //"zoom",
      //"share",
      //"slideShow",
      //"fullScreen",
      //"download",
      //"thumbs",
      "close"
	]
	$('[data-fancybox="images"]').fancybox({
		afterLoad : function(instance, current) {
			var pixelRatio = window.devicePixelRatio || 1;

			if ( pixelRatio > 1.5 ) {
				current.width  = current.width  / pixelRatio;
				current.height = current.height / pixelRatio;
			}
		}
	});
	var imageOption = $.extend(true, {}, $.fancybox.defaults, {
		caption : function( instance, item ) {
			return $(this).next('figcaption').html();
		}
	});
	$('[data-fancybox="gallery"]').fancybox(imageOption);

	</script>
</body>
</html>


