<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/home.css">
{#    {% for path in config["extra_css"] %}#}
{#    <link rel="stylesheet" href="{{ path | url }}">#}
{#    {% endfor %}#}
</head>
<body class="psa">
   {% include "partials/landing/landing.twig" %}
   {% include "partials/nav-secondary/nav-secondary.twig" %}
    <div class="gap"></div>
    <div class="workflow">
        {% include "partials/videoplayer/videoplayer.twig" %}
    </div>
    <div class="big-gap"></div>
    {% include "partials/benefits/benefits.twig" %}
    <div class="big-gap"></div>
    {% include "partials/testimonials/testimonials.twig" %}
    <div class="big-gap"></div>

   {# <script src="{{ '/assets/javascript/presets.js' }}"></script> #}
   <script src="{{ '/assets/javascript/timeline.js' }}"></script>
   <script src="{{ '/assets/javascript/tablinks.js' }}"></script>
   <script src="{{ '/assets/javascript/videoplayer.js' }}"></script>
   <script src="{{ '/assets/javascript/benefits.js' }}"></script>
</body>
</html>


